<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.app.util.xutilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.app.activity.LoginActivity" />
        <activity android:name="com.app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.activity.MassActivity"
            android:label="@string/title_activity_mass" />
        <activity android:name="com.app.activity.RegisterActivity" />
        <activity android:name="com.app.activity.InitializeActivity">

        </activity>
        <activity android:name="com.app.activity.ClubRegisterActivity" />
        <activity android:name="com.app.activity.sendDynamicStateActivity" />
        <activity android:name="com.app.activity.showImageActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.activity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.app.activity.showBigImageActivity" />
        <activity android:name="com.app.activity.SchoolMassActivity" />
        <activity android:name="com.app.activity.MerchantActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activity.MainActivity" />
        </activity>
        <activity android:name="com.app.activity.SchoolMassDetailsActivity" />
        <activity android:name="com.app.activity.showDynamicImageActivity" />
        <activity android:name="com.app.activity.sayDynamicActivity"></activity>
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>
    </application>

</manifest>